@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />     	
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" /> 
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" /> 
        <link rel="stylesheet" href="~/css/cardjs.min.css"/>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-md fixed-top bg-sea-green">
                <div class="container-fluid">
                    <a class="navbar-brand white" asp-controller="Home" asp-action="Index">Hospital</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                    @SharedLocalizer["Home"]
                                </a>
                            </li>
                            <partial name="_RolePartial" />
                        </ul>
                        <ul class="navbar-nav">
                            <partial name="_LoginPartial" />
                            <partial name="_LocalPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container main mb-10">
            @RenderBody()

            <section>
                <partial name="_SupportPartial" />
            </section>
        </main>
        

        <footer class="mt-auto text-center text-lg-start bg-white text-muted">
            <partial name="_FooterPartial" />
        </footer>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jQuery-Validation/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/lib/plotly.js/plotly.min.js"></script>
        <script src="~/lib/qrcodejs/qrcode.min.js"></script>
        <script src="~/js/cardjs/card-js.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>