@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager


@if (signInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <div class="container">
            <div class="chatbox">
                <button class="chat-btn" id="chat-btn"> 
                    <i class="fa-solid fa-comments"></i>
                </button>
                <div class="chat-popup">
                    <button class="chat-badge chat-user d-none" id="chat-all-users">
                        <i class="fa-solid fa-users"></i>
                    </button>

                    <div class="chat-list chat-area" id="chat-list">
                    </div>

                    <div class="chat-area chat-user d-none" id="chat-user">
                    </div>

                    <div class="input-area chat-user d-none">
                        <input type="hidden" id="chat-user-id">
                        <input type="hidden" id="chat-user-name">
                        <input type="text" id="message-text">
                        <button class="chat-send" id="admin-send"> 
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    if (User.IsInRole("Patient") || User.IsInRole("Doctor"))
    {
        var user = await userManager.FindByEmailAsync(User.Identity.Name);
        var userId = user.Id;
        var name = user.ToString();

        <div class="container">
            <div class="chatbox">
                <button class="chat-btn" id="chat-btn"> 
                    <i class="fa-solid fa-comments"></i>
                </button>

                <div class="chat-popup">
                    <div class="chat-area" id="msg-list">
                    </div>

                    <div class="input-area">
                        <input type="hidden" id="chat-user-id" value="@userId">
                        <input type="hidden" id="chat-user-name" value="@name">
                        <input type="text" id="message-text">
                        <button class="chat-send" id="user-send" > 
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else 
{
    <div class="container">
            <div class="chatbox">
                <button class="chat-btn" id="chat-btn"> 
                    <i class="fa-solid fa-comments"></i>
                </button>

                <div class="chat-popup">
                    <div class="chat-area" id="msg-list">
                    </div>

                    <div class="input-area">
                        <input type="hidden" id="chat-guest-id">
                        <input type="text" id="message-text">
                        <button class="chat-send" id="guest-send" > 
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
}