<div class="container">
    <div class="chatbox">
        <button class="chat-btn"> 
            <i class="fa-solid fa-comments"></i>
        </button>

        <div class="chat-popup">
            <div class="chat-badge">1</div>
            <div class="chat-area">
                <div class="income-msg">
                    <span class="msg"> Hi, How can I help you?</span>
                </div>   
            </div>

            <div class="input-area">
                <input type="text" id="message-text">
                <button class="chat-send"> 
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>