@model DoctorViewModel
@{
    ViewBag.Title = "Edit doctor";
}

<h2>Edit doctor</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Manage" asp-action="EditDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control input-validation-error" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control input-validation-error" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control input-validation-error" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control input-validation-error" type="tel"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Specialty" class="control-label"></label>
                <input asp-for="Specialty" class="form-control input-validation-error" type="text" list="specialties"/>
                <datalist id="specialties">
                    @foreach (var specialty in ViewBag.Specialties)
                    {
                        <option value="@specialty"></option>
                    }
                </datalist>
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Manage" asp-action="Doctors">Back to List</a>
</div>