@model ErrorViewModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = SharedLocalizer["Error"];
}
<div class="list-header clearfix text-danger mt-2">
    <h2>@SharedLocalizer["Error"]</h2>
    <p>@SharedLocalizer["UnexpectedErrorMessage"]</p>
    @if (Model != null )
    {
        <p>
            @Model.Message
        </p>
    }
</div>