<section class="border-top mt-5">
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-sm-4 mx-auto">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa-solid fa-truck-medical me-3 text-secondary"></i>Hospital
                </h6>
                <p>
                    Our mission is to provide quality health services
                    to all in a comfortable and cozy environment.
                    Our clinics primarily offer consultations and
                    is not equipped to take emergencies.
                </p>
            </div>
            <div class="col-sm-4 mx-auto">
                <h6 class="text-uppercase fw-bold mb-4">
                    Info
                </h6>
                <p>
                    <a asp-controller="Home" asp-action="Index" class="text-reset">Home</a>
                </p>
                <p>
                    <a asp-controller="Home" asp-action="About" class="text-reset">About</a>
                </p>
                <p>
                    <a asp-controller="Home" asp-action="Privacy" class="text-reset">Privacy</a>
                </p>
            </div>
            <div class="col-sm-4 mx-auto">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p>
                    <a href="https://github.com/ihornekhaienko" class="text-reset">
                        <i class="fa-brands fa-github"></i>
                        Git
                    </a>
                </p>
                <p>
                    <a href="https://t.me/igornekhaienko" class="text-reset">
                        <i class="fa-brands fa-telegram"></i>
                        Telegram
                    </a>
                </p>
                <p>
                    <a href="mailto:ihornekhaienko@gmail.com" class="text-reset">
                        <i class="fas fa-envelope"></i>
                        ihornekhaienko@gmail.com
                    </a>
                </p>
                <p>
                    <a href="tel:+0500558375" class="text-reset">
                        <i class="fa-solid fa-phone"></i>
                        + 38 (050) 055 83 75
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/ihornekhaienko">Ihor Nekhaienko</a>
</div>