@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Manage" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item"> 
        <form  class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <button  type="submit" class="nav-link btn btn-link">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <i class="fa-solid fa-user"></i>
            Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Login
        </a>
    </li>
}
</ul>