@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-sea-green nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-users"></i>
                    Administration
                </button>
                <ul class="dropdown-menu bg-sea-green">
                    <li>
                        <a class="nav-link bg-sea-green" asp-controller="Administration" asp-action="Admins">
                            <i class="fa-solid fa-hammer"></i>
                            Admins
                        </a>
                    </li>
                    <li>
                        <a class="nav-link bg-sea-green" asp-controller="Administration" asp-action="Doctors">
                            <i class="fa-solid fa-stethoscope"></i>
                            Doctors
                        </a>
                    </li>
                    <li>
                        <a class="nav-link bg-sea-green" asp-controller="Administration" asp-action="Patients">
                            <i class="fa-solid fa-hospital-user"></i>
                            Patients
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }
    else if (User.IsInRole("Doctor"))
    {
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Appointments" asp-action="Planned" asp-route-date="@DateTime.Today">
                <i class="fa-solid fa-hospital"></i>
                Appointments
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Appointments" asp-action="History" asp-route-date="@DateTime.Today">
                <i class="fa-solid fa-hospital"></i>
                History
            </a>
        </li>
    }
    else if (User.IsInRole("Patient"))
    {
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Hospitals" asp-action="Search">
                <i class="fa-solid fa-hospital"></i>
                Search hospitals
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Doctors" asp-action="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
                Search doctors
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Treatments" asp-action="History">
                <i class="fa-solid fa-file-medical"></i>
                Treatment history
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" asp-controller="Stats" asp-action="Index">
            <i class="fa-solid fa-chart-simple"></i>
            Statistics
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Manage" asp-action="Profile">
            <i class="fa-solid fa-user"></i>
            My Profile
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link bg-sea-green" asp-controller="Hospitals" asp-action="Search">
            <i class="fa-solid fa-hospital"></i>
            Search hospitals
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-sea-green" asp-controller="Doctors" asp-action="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search doctors
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Stats" asp-action="Index">
            <i class="fa-solid fa-chart-simple"></i>
            Statistics
        </a>
    </li>
}