@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Manage" asp-action="Admins">Admins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Manage" asp-action="Doctors">Doctors</a>
        </li>
    }
}