<div class="container">
    <div class="row mt-5">
        <div class="col-sm-3 mx-auto">
            <div class="card" style="width:250px;">
                    <img src="./files/images/admin.png" class="card-img-top photo mt-1" alt="Admins">
                    <div class="card-body text-center">
                        <h4 class="card-title">Manage admins</h4>
                        <a asp-controller="Administration" asp-action="Admins" class="btn btn-primary">Manage</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-3 mx-auto">
            <div class="card" style="width:250px;">
                    <img src="./files/images/doctor.png" class="card-img-top photo mt-1" alt="Doctors">
                    <div class="card-body text-center">
                        <h4 class="card-title">Manage doctors</h4>
                        <a asp-controller="Administration" asp-action="Doctors" class="btn btn-primary">Manage</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-3 mx-auto">
            <div class="card" style="width:250px;">
                    <img src="./files/images/patient.jpg" class="card-img-top photo mt-1" alt="Patients">
                    <div class="card-body text-center">
                        <h4 class="card-title">Manage patients</h4>
                        <a asp-controller="Administration" asp-action="Patients" class="btn btn-primary">Manage</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-3 mx-auto">
            <div class="card" style="width:250px;">
                    <img src="./files/images/hospital.png" class="card-img-top photo mt-1" alt="Statistics">
                    <div class="card-body text-center">
                        <h4 class="card-title">Look for statistics</h4>
                        <a asp-controller="Stat" asp-action="Index" class="btn btn-primary">View</a>
                    </div>
            </div>
        </div>
    </div>
</div>