@model HospitalViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Administration" asp-action="CreateHospital">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control input-validation-error" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control input-validation-error" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Locality" class="control-label"></label>
                <input asp-for="Locality" class="form-control input-validation-error" type="text" list="localities"/>
                <datalist id="localities">
                    @foreach (var locality in ViewBag.Localities)
                    {
                        <option value="@locality"></option>
                    }
                </datalist>
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">@SharedLocalizer["Create"]</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Administration" asp-action="Doctors">@SharedLocalizer["BackToFullList"]</a>
</div>