@model ForgotPasswordViewModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = SharedLocalizer["ForgotPassword"];
    Layout = "_AccountLayout";
}

<div class="row mt-5">
    <div class="col-lg-4 bg-white m-auto">
        <h2 class="text-center pt-3">@SharedLocalizer["ForgotPassword"]</h2>
        <div class="text-center mb-3">
            <p>
                @SharedLocalizer["EnterEmail"]
            </p>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

        <form method="post" asp-controller="Account" asp-action="ForgotPassword" asp-antiforgery="true">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" asp-for="Email" class="form-control input-validation-error" placeholder="@SharedLocalizer["Email"]"/>                
                </div>
                <span asp-validation-for="Email" class="validator text-danger"></span>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-success">@SharedLocalizer["Submit"]</button>
            </div>
        </form>
    </div>
 </div>