@model ResetPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Title"];
}

<div class="mt-3">
    <p>
        @Localizer["PasswordReset"] <a asp-action="Login">@Localizer["ClickHere"]</a>.
    </p>
</div>