@model ResetPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Title"];
    Layout = "_AccountLayout";
}

<p>
    Localizer["PasswordReset"] <a asp-action="Login">Localizer["ClickHere"]</a>.
</p>