@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change your password";
    Layout = "_AccountLayout";
}

<div class="row mt-5">
    <div class="col-lg-4 bg-white m-auto">
        <h2 class="text-center pt-3">Change password</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

        <form method="post" asp-controller="Account" asp-action="ChangePassword" asp-antiforgery="true">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="OldPassword" class="form-control" placeholder="Old password"/>
                </div>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="New password"/>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password"/>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col text-center">
                        <a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                    </div>
                 </div>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-success">Change</button>
            </div>
        </form>
    </div>
 </div>