@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "_AccountLayout";
}

<div class="row mt-5">
    <div class="col-lg-4 bg-white m-auto">
        <h2 class="text-center pt-3">Sign In</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" asp-antiforgery="true">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" asp-for="Email" class="form-control input-validation-error" placeholder="Email"/>                
                </div>
                <span asp-validation-for="Email" class="validator text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="Password" class="form-control input-validation-error" placeholder="Password"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="checkbox" asp-for="RememberMe"/>
                    <label asp-for="RememberMe">Remember Me?</label>
                </div>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-success">Sign In</button>
            </div>
        </form>
    </div>
 </div>