.main {
    position: relative;
    top: 60px;
    width: 100%;
}

.mb-10 {
    margin-bottom: 100px;
}

.bg-sea-green {
    background-color: rgb(46, 139, 87) !important;
}

.bg-cadet-blue {
    background-color: rgb(95, 158, 160);
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
}

.nav-link {
    color: rgba(255, 255, 255, .75) !important;
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

.badge-light {
    color: rgba(255, 255, 255) !important;
}

.nav-btn {
    color: rgba(255, 255, 255, .75) !important;
}

.nav-btn:hover {
    color: rgb(255, 255, 255) !important;
}

a.text-reset {
    text-decoration: none;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.validation {
    margin-bottom: 0px;
}

.search-input {
    max-width: 300px;
}

.input-group-btn.input-space {
    padding-left: 15px;
}

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.border-right {
    border-right: 1px solid rgb(169, 169, 169);
}

.photo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.photo-sm {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-control-prev {
    margin-left: -150px;
}

.carousel-control-next {
    margin-right: -150px;
}

.hidden {
    display: none;
}

.btn-230 {
    min-width: 230px;
}

.btn-icon {
    border: none;
    background-color: transparent;
}

.rating-group {
    display: inline-flex;
}

.rating-icon {
    pointer-events: none;
}

.rating-input {
    position: absolute !important;
    left: -9999px !important;
}

.rating-label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

.rating-icon-star {
    color: orange;
}

.rating-icon-none {
    color: #eee;
}

.rating-input-none:checked + .rating-label .rating-icon-none {
    color: red;
}

.rating-input:checked ~ .rating-label .rating-icon-star {
    color: #ddd;
}

.rating-group:hover .rating-label .rating-icon-star {
    color: orange;
}

.rating-input:hover ~ .rating-label .rating-icon-star {
    color: #ddd;
}

.rating-group:hover .rating-input-none:not(:hover) + .rating-label .rating-icon-none {
    color: #eee;
}

.rating-input-none:hover + .rating-label .rating-icon-none {
    color: red;
}

/*CHATBOX*/

.chatbox {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
}

.chatbox h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}


.chatbox p {
    font-size: 2rem;
}


.chat-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: dodgerblue;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.chat-btn:hover, .submit:hover, #emoji-btn:hover {
    opacity: 1;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 120px;
    height: 400px;
    width: 300px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.chatlist-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 120px;
    height: 400px;
    width: 300px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.show {
    display: flex;
}

.chat-area {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.income-msg {
    display: flex;
    align-items: center;
}

.income-date {
    text-align: left;
    color: black;
    font-size: 10pt;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.income-msg .msg {
    background-color: dodgerblue;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.chat-badge {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
}

.input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

#emoji-btn {
    position: absolute;
    font-size: 1.2rem;
    background: transparent;
    right: 50px;
    top: 2px;
    opacity: 0.5;
}

.chat-send {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
}


.out-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.out-date {
    color: white;
    font-size: 10pt;
}

.my-msg {
    text-align: right;
    margin: 0.75rem;
    padding: 0.5rem;
    background-color: #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    word-break: break-all;
}


@media (max-width:500px) {

    .chat-popup {
        bottom: 120px;
        right: 10%;
        width: 80vw;
    }
}

.chat-area .card {
    text-align: left;
}

.chat-area .card p {
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
}

.chat-list {
    height: 100%;
}
